* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.active {
  color: white;
}

a {

  color: black;
  text-decoration: none;
}

.active {
  color: #D8D8D8 !important;
}

.button {
  padding: 0px 20px;
  display: inline-block;
  height: 40px;
  border-radius: 20px;
  font-family: 'FiraSans-Regular', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 35px;
  text-align: center;

}

.blue-button {
  border: solid #18a6de;
  color: #18a6de;
}

.white-button{
  border: solid #fff;
  color: #fff;
}

@font-face {
    font-family: "Fira Sans";
    src: url("../fonts/FiraSans-Medium.ttf");
    src: url("../fonts/FiraSans-Regular.ttf");
}
@font-face {
    font-family: "Butler";
    src: url("../fonts/Butler_Bold.otf");
}

.container {
  width: 92%;
  margin: auto;
}

header {
  position: relative;
  height: 1065px;
  .container {

    nav {
      display: flex;
      align-items: center;
      width: 100%;
      height: 43px;
      margin-top: 43px;
      .nav-left {
        width: 50%;
      }
      .nav-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 50%;

        a {
          font-family: 'Fira Sans', sans-serif;
          font-size: 14px;
          color: #484A54;
        }
        > * {
          margin-left: 30px;
        }
        button {
          border: 0;
          background-color: white;
        }
      }
    }
    .jumbotron {
      margin-top: 20px;
      position: relative;
      #jumbo-title {
        position: absolute;
        top: 157px;
        left: 0;
        z-index: 2;
        width: 814px;
        h1 {
          font-family: 'Butler', sans-serif;
          font-size: 72px;
          line-height: 80px;
          color: #293E59;
        }
        #jumbo-subtitle {
          width: 329px;
          margin-bottom: 40px;
          p {
            font-family: 'FiraSans-Regular', sans-serif;
            font-size: 16px;
            line-height: 24px;
            color: #9B9B9B;
          }

        }

      }
    }
  }

  #jumbo-circle {
    position: absolute;
    top: 60px;
    right: 0;
  }
  #jumbo-girl {
    position: absolute;
    top: 87px;
    right: 167px;
  }
  #jumbo-line {
    position: absolute;
    bottom: 350px;
    right: 363px;
  }

  #newsletter-box {
    position: absolute;
    top: 570px;;
    right: 0;
    width: 486px;
    height: 294px;
    padding: 50px;
    background-color: #293E59;
    color: white;
    h3 {
      font-family: 'Butler', sans-serif;
      font-size: 32px;
      margin-bottom: 18px;
    }
    p {
      font-family: 'FiraSans-Regular', sans-serif;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.9);
      letter-spacing: 0;
      line-height: 20px;

    }
    #email {
      margin-top: 50px;
      #email-input-container {
        border-bottom: 1px solid white;
        #email-input {
          display: inline;
          border: 0px;
          background-color: inherit;
          width: 95%;
          height: 20px;
          line-height: 20px;
          font-family: 'FiraSans-Regular', sans-serif;
          font-size: 14px;
          color: #CACACA;
          letter-spacing: 0;
          line-height: 20px;
          &::-webkit-input-placeholder {
            font-family: 'FiraSans-Regular', sans-serif;
            font-size: 14px;
            color: #CACACA;
            letter-spacing: 0;
            line-height: 20px;
          }
          &:active, &:focus {
            outline: 0;
          }
        }
        .arrow{
          height: 20px;
        }
      }

      label {
        font-family: 'FiraSans-Regular', sans-serif;
        font-size: 12px;
      }
      .checkbox-container {
        margin-top: 10px;
        display: flex;
        align-items: center;
        input {
          margin-right: 5px;
        }
      }
    }
  }
}



//main

main {
  width: 100%;
  position: relative;
  #zerogray-wrap {
    margin: auto;
    height: 120px;
    width: 867px;
    padding-bottom: 223px;
    h3 {
      font-family: 'Butler', sans-serif;
      font-size: 32px;
      color: #484A54;
      letter-spacing: -0.3px;
      text-align: center;
      line-height: 40px;
    }
  }
  #home-circles-main {
    position: absolute;
    top: -15px;
    right: 0;
  }
  #home-help-container {
    position: relative;
    height: 484px;
    padding-right: 65px;
    padding-left: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;

    .h2-container {
      max-width: 309px;
      h2 {
        font-family: 'Butler', sans-serif;
        font-size: 48px;
        color: #293E59;
        letter-spacing: -0.3px;
        line-height: 56px;
        margin-bottom: 20px;
      }
    }

    #home-services-container {
      height: 100%;
      max-width: 200px;
      ul {
        list-style: none;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        li {
          opacity: 0.48;
          font-family: 'Butler', sans-serif;
          font-size: 32px;
          color: #293E59;
          letter-spacing: -0.3px;
          text-align: right;
          line-height: 40px;
        }
      }
    }

    #home-services-container-description {
      height: 100%;
      max-width: 421px;
      ul {
        list-style: none;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
          opacity: 0.8;
          font-family: Helvetica;
          font-size: 16px;
          color: #293E59;
          letter-spacing: 0;
          line-height: 24px;
        }
      }
    }

    .line {
      width: 12.1%;
      position: absolute;
      top: 3%;
      left: 53.5%;
      }
    }

    #why-choose-us {
      .container {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 601px;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('https://api-lunacy.icons8.com/api/assets/ccfc6929-6fab-4910-85db-b82b01b4b229/Group-12.png');

        .text {
          width: 421px;
          height: 248px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;
          margin-right: 120px;
          h3 {
            font-family: 'Butler', sans-serif;
            font-size: 48px;
            color: #FFFFFF;
            letter-spacing: -0.3px;
            text-align: right;
            line-height: 56px;
          }
          p {
            font-family: 'FiraSans-Regular', sans-serif;
            font-size: 16px;
            color: #FFFFFF;
            letter-spacing: 0;
            text-align: right;
            line-height: 24px;
          }
        }
      }
    }

    #our-blog {
      margin-top: 130px;
      .container {
        h2 {
          font-family: 'Butler', sans-serif;
          font-size: 48px;
          color: #293E59;
          letter-spacing: -0.3px;
          line-height: 56px;
          }
        }
        .slider {
          display: flex;
          overflow-x: scroll;
          &::-webkit-scrollbar-thumb {
            color: black;
          }
          .articles {
            margin: 10px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 421px;
            height: 600px;
            background-repeat: no-repeat;

            .articles-info {
              padding: 30px 20px;
              width: 375px;
              small {
                display: block;
                font-family: 'Helvetica', sans-serif;
                font-size: 12px;
                color: #FFFFFF;
                letter-spacing: 0;
                line-height: 18px;
              }
              span {
                display: inline-block;
                font-family: 'FiraSans-Regular', sans-serif;
                font-size: 12px;
                color: #293E59;
                padding: 0 5px;
                border-radius: 25px;
                background-color: white;
                letter-spacing: 0;
                line-height: 18px;
                margin: 10px 0;
              }
              h4 {
                font-family: 'Butler', sans-serif;
                font-size: 32px;
                color: #FFFFFF;
                letter-spacing: -0.3px;
                line-height: 40px;
              }
              p {
                font-family: 'FiraSans-Medium', sans-serif;
                font-size: 14px;
                color: #FFFFFF;
                letter-spacing: 0;
                line-height: 20px;
              }
            }
          }
          #img1 {
            background-size: cover;
            background-image: url('https://api-lunacy.icons8.com/api/assets/79cb8eb8-928b-4395-b457-4eb55e9f3053/group_3_objects.png');
          }
          #img2 {
            background-size: cover;
            background-image: url('https://api-lunacy.icons8.com/api/assets/cbd6a075-4976-4a9a-a7d1-14985b6d66a4/Rectangle-Copy.png');
          }
          #img3 {
            background-size: cover;
            background-image: url('https://api-lunacy.icons8.com/api/assets/e4b3cb99-91f7-46be-81f3-0bef82251463/Rectangle-Copy-2.png');
          }
          #img4 {
            background-size: cover;
            background-image: url('https://api-lunacy.icons8.com/api/assets/a8909662-1305-4bc9-bb96-7b389c82064c/Rectangle-Copy-3.png');
          }
          #img5 {
            background-size: cover;
            background-image: url('https://api-lunacy.icons8.com/api/assets/a8909662-1305-4bc9-bb96-7b389c82064c/Rectangle-Copy-3.png');
          }
        }

    }

    #out-platform {
      margin-top: 144px;
      .container {
        display: flex;
        //justify-content: space-between;
        align-items: center;
        img {

        flex-grow: 2;
        }
        .text {
          margin: 30px;
          display: flex;
          flex-shrink: 0;
          flex-direction: column;
          justify-content: space-between;
          width: 310px;
          h3 {
            font-family: 'Butler', sans-serif;
            font-size: 48px;
            color: #293E59;
            letter-spacing: -0.3px;
            line-height: 56px;
          }
          p {
            margin-top: 20px;
            margin-bottom: 20px;
            font-family: Helvetica;
            font-size: 16px;
            color: #9B9B9B;
            letter-spacing: 0;
            line-height: 24px;
          }
          a {
            padding: 0 40px;
          }
        }
      }
    }
}
