* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.active {
  color: white;
}

a {

  color: #484A54;
  text-decoration: none;
}

.active-header {
  color: #D8D8D8 !important;
}

.pointer:hover {
  cursor: pointer;
}

h4.active-main {
  opacity: 1 !important;
}
p.active-main {
  opacity: 80% !important;

}
.active-line {
 visibility: visible !important;
}

.active-lang {
  font-weight: bold;
  border-bottom: 1px solid  #484A54;
}


.button {
  padding: 10px 20px;
  display: inline-block;
  border-radius: 25px;
  font-family: 'FiraSans-Medium', sans-serif;
  font-size: 14px;
  text-align: center;

}

.blue-button {
  padding-left: 33px;
  padding-right: 33px;
  border: 2px solid #18a6de;
  color: #18a6de;
  transition: 0.2s;
  &:hover {
    border: 2px solid #18a6de;
    color: white;
    background-color: #18a6de;
  }
}


.white-button{
  border: 2px solid #fff;
  color: #fff;
  transition: 0.2s;
  &:hover {
    background-color: white;
    border: 2px solid white;
    color: #18a6de;
  }
}

@font-face {
    font-family: "FiraSans-Regular";
    src: url("../fonts/FiraSans-Regular.ttf");
}
@font-face {
    font-family: "FiraSans-Medium";
    src: url("../fonts/FiraSans-Medium.ttf");
}
@font-face {
    font-family: "Butler";
    src: url("../fonts/Butler_Bold.otf");
}


.container {
  width: 92%;
  margin: auto;
}

.newsletter-box {
  position: absolute;
  width: 486px;
  height: 294px;
  padding: 50px;
  h3 {
    font-family: 'Butler', sans-serif;
    font-size: 32px;
    margin-bottom: 18px;
  }
  p {
    font-family: 'FiraSans-Regular', sans-serif;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;

  }
  .email {
    margin-top: 50px;
    .email-input-container {
      .email-input {
        display: inline;
        border: 0px;
        background-color: inherit;
        width: 95%;
        height: 20px;
        line-height: 20px;
        font-family: 'FiraSans-Regular', sans-serif;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 20px;
        &::-webkit-input-placeholder {
          font-family: 'FiraSans-Regular', sans-serif;
          font-size: 14px;
          letter-spacing: 0;
          line-height: 20px;
        }
        &:active, &:focus {
          outline: 0;
        }
      }
      .arrow{
        height: 20px;
      }
    }

    label {
      font-family: 'FiraSans-Regular', sans-serif;
      font-size: 12px;
    }
    .checkbox-container {
      margin-top: 10px;
      display: flex;
      align-items: center;
      input {
        margin-right: 5px;
      }
      .checkbox {
        width: 16px;
        height: 16px;
      }
    }
  }
}


header {
  position: relative;
  margin-bottom: 195px;
  .container {

    nav {
      display: flex;
      align-items: center;
      width: 100%;
      height: 43px;
      margin-top: 36px;
      .nav-left {
        width: 30%;
      }
      .nav-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 70%;

        a {
          font-family: 'Fira Sans', sans-serif;
          font-size: 14px;
          color: #484A54;
        }
        a.button {
          background-color: #18a6de;
          border: 2px solid #18a6de;
          transition: 0.2s;
          color: white;
          &:hover {
            background-color: white;
            color: #18a6de;
          }
        }
        > * {
          margin-left: 30px;
        }
        button {
          border: 0;
          background-color: white;
        }
      }
    }
    .jumbotron {
      height: 880px;
      margin-top: 20px;
      position: relative;
      #jumbo-title {
        position: absolute;
        top: 157px;
        left: 0;
        z-index: 2;
        width: 814px;
        margin-bottom: 12px;
        h1 {
          font-family: 'Butler', sans-serif;
          font-size: 72px;
          line-height: 80px;
          color: #293E59;
          margin-bottom: 13px;
        }
        #jumbo-subtitle {
          width: 329px;
          margin-bottom: 24px;
          p {
            font-family: 'FiraSans-Regular', sans-serif;
            font-size: 16px;
            line-height: 24px;
            color: #9B9B9B;
          }
        }
      }
      .blumarine {
        position: absolute;
        bottom: 221px;
        right: calc(947px - 4.4%);
        h5 {
          font-family: 'Butler', sans-serif;
          font-size: 24px;
          color: #484A54;
          letter-spacing: -0.3px;
          text-align: right;
          line-height: 32px;
        }
        p {
          font-family: 'FiraSans-Regular', sans-serif;
          font-size: 12px;
          color: #9B9B9B;
          letter-spacing: 0;
          text-align: right;
          line-height: 18px;
          white-space: nowrap;
        }
      }
      #jumbo-circle {
        position: absolute;
        top: 60px;
        right: -4.4%;
      }
      #jumbo-girl {
        position: absolute;
        bottom: 226px;
        right: calc(167px - 4.4%);
      }
      #jumbo-line {
        position: absolute;
        bottom: 153px;
        right: calc(392px - 4.4%);
        width: 657px;
        #small-line {
          display: none;
        }
        svg {
          width: 100%;
        }
      }

      .newsletter-box {
        top: 570px;
        right: -4.4%;
        background-color: #293E59;
        color: white;
        .cross {
          position: absolute;
          top: 42px;
          right: 44px;    }
        p {
          color: rgba(255, 255, 255, 0.9);
        }
        .email {
          .email-input-container {
            border-bottom: 1px solid white;
            .email-input {
              color: #CACACA;
              &::-webkit-input-placeholder {
                color: #CACACA;
              }
            }
          }
        }
      }
    }

    }
  }




//main

main {
  width: 100%;
  position: relative;
  #zerogray-wrap {
    margin: auto;
    width: 867px;
    max-width: 92%;
    padding-bottom: 223px;
    text-align: center;
    h3 {
      color: #484A54;
      font-family: 'Butler', sans-serif;
      font-size: 32px;
      letter-spacing: -0.3px;
      line-height: 40px;
    }
  }
  #home-circles-main {
    position: absolute;
    top: -15px;
    right: 0;
  }
  #home-help-container {
    position: relative;
    padding-right: 65px;
    padding-left: 65px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;

    .h2-container {
      margin-right: 40px;
      max-width: 309px;
      h2 {
        font-family: 'Butler', sans-serif;
        font-size: 48px;
        color: #293E59;
        letter-spacing: -0.3px;
        line-height: 56px;
        margin-bottom: 20px;
      }
      .blue-button{
        padding-left: 24px;
        padding-right: 24px;
      }
    }

    #home-services-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      .services-row {
        display: flex;
        flex-direction: row;
        margin: 15px 0;
        .h4 {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          width: 200px;
          flex-shrink: 0;
          h4 {
            opacity: 0.48;
            font-family: 'Butler', sans-serif;
            font-size: 32px;
            color: #293E59;
            letter-spacing: -0.3px;
            text-align: right;
            line-height: 40px;
          }
        }
        .line {
          display: flex;
          align-items: center;
          padding: 0 20px;
          max-width: 27%;
          flex-shrink: 2;
          svg {
            visibility: hidden;
            width: 100%;
          }
        }
        .p {
          width: 421px;
          p {
            opacity: 0.48;
            font-family: 'FiraSans-Regular', sans-serif;
            font-size: 16px;
            color: #293E59;
            letter-spacing: 0;
            line-height: 24px;
          }
        }
      }
    }

  }
    #why-choose-us {
      .container {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 601px;
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('https://api-lunacy.icons8.com/api/assets/ccfc6929-6fab-4910-85db-b82b01b4b229/Group-12.png');

        .text {
          width: 421px;
          height: 248px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;
          margin-right: 10%;
          h3 {
            font-family: 'Butler', sans-serif;
            font-size: 48px;
            color: #FFFFFF;
            letter-spacing: -0.3px;
            text-align: right;
            line-height: 56px;
          }
          p {
            font-family: 'FiraSans-Regular', sans-serif;
            font-size: 16px;
            color: #FFFFFF;
            letter-spacing: 0;
            text-align: right;
            line-height: 24px;
          }
        }
      }
    }

    #our-blog {
      margin-top: 130px;
      .container {
        h2 {
          font-family: 'Butler', sans-serif;
          font-size: 48px;
          color: #293E59;
          letter-spacing: -0.3px;
          line-height: 56px;
          }
        }
        .slider {
          display: flex;
          overflow-x: scroll;

          .articles {
            margin: 12px 12px 35px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            min-width: 421px;
            height: 600px;
            background-repeat: no-repeat;

            .articles-info {
              padding: 30px 20px;
              small {
                display: block;
                font-family: 'Helvetica', sans-serif;
                font-size: 12px;
                color: #FFFFFF;
                letter-spacing: 0;
                line-height: 18px;
              }
              span {
                display: inline-block;
                font-family: 'FiraSans-Regular', sans-serif;
                font-size: 12px;
                color: #293E59;
                padding: 0 5px;
                border-radius: 25px;
                background-color: white;
                letter-spacing: 0;
                line-height: 18px;
                margin: 10px 0;
              }
              h4 {
                font-family: 'Butler', sans-serif;
                font-size: 32px;
                color: #FFFFFF;
                letter-spacing: -0.3px;
                line-height: 40px;
              }
              p {
                font-family: 'FiraSans-Medium', sans-serif;
                font-size: 14px;
                color: #FFFFFF;
                letter-spacing: 0;
                line-height: 20px;
              }
            }
          }
          #img1 {
            background-size: cover;
            background-image: url('https://api-lunacy.icons8.com/api/assets/79cb8eb8-928b-4395-b457-4eb55e9f3053/group_3_objects.png');
          }
          #img2 {
            background-size: cover;
            background-image: url('https://api-lunacy.icons8.com/api/assets/cbd6a075-4976-4a9a-a7d1-14985b6d66a4/Rectangle-Copy.png');
          }
          #img3 {
            background-size: cover;
            background-image: url('https://api-lunacy.icons8.com/api/assets/e4b3cb99-91f7-46be-81f3-0bef82251463/Rectangle-Copy-2.png');
          }
          #img4 {
            background-size: cover;
            background-image: url('https://api-lunacy.icons8.com/api/assets/a8909662-1305-4bc9-bb96-7b389c82064c/Rectangle-Copy-3.png');
          }
          #img5 {
            background-size: cover;
            background-image: url('https://api-lunacy.icons8.com/api/assets/79cb8eb8-928b-4395-b457-4eb55e9f3053/group_3_objects.png');
          }
      }
      #style-1::-webkit-scrollbar {
        height: 5px;
      }
      #style-1::-webkit-scrollbar-thumb {
        background-color: #293E59;
        border-radius: 2px;
      }
      #style-1::-webkit-scrollbar-track {
        background-color: #D8D8D8;
        border-radius: 2px;
        border: 2px solid white;
      }
      #style-1::-webkit-scrollbar-track-piece {
        background-color: #D8D8D8;
        border-radius: 2px;
        border: 2px solid white;
      }
      #style-1::-webkit-scrollbar-button:end:increment {
        width: 4%;
        display: block;
        background: transparent;
      }
      #style-1::-webkit-scrollbar-button:start:increment {
        width: 4%;
        display: block;
        background: transparent;
      }
    }

    #out-platform {
      margin-top: 144px;
      .container {
        display: flex;
        align-items: center;
        .img-container {
          height: 300px;
          width: calc(100% - 310px);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url('https://api-lunacy.icons8.com/api/assets/6ac0de53-d61e-49cf-ba20-194fbc17a8e2/Rectangle.png');
        }
        .text {
          margin: 30px;
          display: flex;
          flex-shrink: 0;
          flex-direction: column;
          justify-content: space-between;
          width: 310px;
          h3 {
            font-family: 'Butler', sans-serif;
            font-size: 48px;
            color: #293E59;
            letter-spacing: -0.3px;
            line-height: 56px;
          }
          p {
            margin-top: 20px;
            margin-bottom: 20px;
            font-family: Helvetica;
            font-size: 16px;
            color: #9B9B9B;
            letter-spacing: 0;
            line-height: 24px;
          }
          a {
            padding: 0 40px;
          }
        }
      }
    }

    #from-our-studio {
      margin-top: 140px;
      margin-bottom: 144px;
      position: relative;
      .container {
        display: flex;
        align-items: center;
        height: 350px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('https://api-lunacy.icons8.com/api/assets/5bb4286a-edb4-4b3f-9bd6-0a3c82ab8883/DesktopHomeNewsletter.png');
      }
      .newsletter-box {
        color: #293E59;
        p {
          font-family: "FiraSans-Regular", sans-serif;
          font-size: 16px;
          color: #9B9B9B;
          letter-spacing: 0;
          line-height: 24px;
        }
        .email {
          .email-input-container {
            border-bottom: 1px solid black;
            .email-input {
              color: #9B9B9B;
              &::-webkit-input-placeholder {
                color: #9B9B9B;
              }
            }
          }
          label {
            font-family: "FiraSans-Regular", sans-serif;
            font-size: 12px;
            color: #9B9B9B;
            letter-spacing: 0;
            line-height: 18px;
          }
        }
      }
    }
}

footer {
  height: 734px;
  background-color: #F2F4F6;
  .footer-top {
    height: 520px;
    display: flex;
    width: 100%;
    padding: 60px 0 70px;
    .footer-top-left {
      width: calc(50% - 40px);
      padding-right: 40px;
      padding-top: 10px;
      .text {
        max-width: 421px;
        display: flex;
        flex-shrink: 0;
        flex-direction: column;
        justify-content: space-between;
        h3 {
          font-family: 'Butler', sans-serif;
          font-size: 56px;
          color: #293E59;
          letter-spacing: -0.3px;
          line-height: 56px;
        }
        p {
          margin-top: 20px;
          margin-bottom: 20px;
          font-family: "FiraSans-Regular", sans-serif;
          font-size: 16px;
          color: #9B9B9B;
          letter-spacing: 0;
          line-height: 24px;
        }
        a {
          padding: 0 20px;
        }
      }
    }
    .footer-top-right {
      display: flex;
      width: 50%;
      .nav-container {
        padding-left: 10px;
        width: 50%;
        nav {
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: space-between;
          a {
            font-family: 'FiraSans-Regular', sans-serif;
            font-size: 16px;
            color: #293E59;
            letter-spacing: 0;
            line-height: 24px;
          }
        }
      }
      .cities-container {
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50%;
        width: 50%;
        a {
          font-family: 'FiraSans-Regular', sans-serif;
          font-size: 20px;
          color: #293E59;
          letter-spacing: 0;
          line-height: 30px;
        }
      }
    }
  }
  .footer-bottom {
    height: 213px;
    border-top: 1px solid #D8D8D8;
    padding: 30px 0 40px;
    .footer-bottom-container {
      display: flex;
      height: 100px;
      .logo-policies {
        width: 205px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-shrink: 0;
        .policies {
          display: flex;
          justify-content: space-between;
          a {
            font-family: 'FiraSans-Regular', sans-serif;
            font-size: 14px;
            color: #293E59;
            letter-spacing: 0;
            line-height: 20px;

          }
        }
      }
      .copyright {
        margin: 0 40px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-grow: 2;
        flex-shrink: 3;
        p {
          font-family: 'FiraSans-Regular', sans-serif;
          font-size: 12px;
          color: #293E59;
          letter-spacing: 0;
          text-align: center;
          line-height: 18px;
        }
      }
      .social-languages {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 218px;
        .social {
          display: flex;
          justify-content: space-between;
        }
        .lang {
          display: flex;
          justify-content: flex-end;
          a {
            font-family: 'FiraSans-Regular', sans-serif;
            font-size: 14px;
            color: #293E59;
            letter-spacing: 0;
            margin-left: 35px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  header .container .jumbotron #jumbo-girl {
    right: calc(19.6% - 150px);
  }
  header .container .jumbotron .blumarine {
    right: calc(19.6% + 629px);
  }
  header .container .jumbotron #jumbo-line {
    right: calc(19.6% + 75px);
  }
}




@media screen and (max-width: 1000px) {
  header {
    margin-bottom: 100px;
    .container .jumbotron #jumbo-girl {
      width: 580px;
    }
    .container .jumbotron #jumbo-circle {
      width: 710px;
      height: 710px;
    }
    .container .jumbotron #jumbo-line {
      right: calc(19.6% - 93px);
    }
    .container .jumbotron .blumarine {
      right: calc(19.6% + 459px);
    }
  }
  main #home-help-container {
    flex-direction: column;
    margin-bottom: 68px;
    .h2-container {
      margin-right: 0;
      margin-bottom: 85px;
      max-width: 100%;
    }
  }
  main #our-blog .slider .articles {
    min-width: 316px;
    height: 450px;
  }

}



@media screen and (max-width: 767px) {
  .container {
    width: calc(95% - 27px);
  }

  header .container nav {
    margin-top: 13px;
  }
  header .container nav .nav-left #logo {
    width: 121px;
  }
  header .container nav .nav-right a {
    display: none;
  }
  header .container nav .nav-right a.button {
    display: inline-block;
    padding: 2px 15px;
  }
  header .container nav .nav-right button.pointer {
    margin-right: -7px;
    margin-left: 15px;
  }


  header .container nav .nav-right > * {
    margin-left: 9px;
  }
  header .container .jumbotron{
    height: 724px;
    #jumbo-title h1 {
      font-size: 48px;
      line-height: 56px;
    }
  }


  header .container .jumbotron #jumbo-title {
    top: 10px;
    width: 100%;
  }
  header .container .jumbotron #jumbo-girl {
    right: calc(19.6% - 63px);
    top: 363px;
    width: 327px;
  }
  header .container .jumbotron #jumbo-circle {
    top: 246px;
    right: calc(-201px - 4.4%);
    width: 496px;
    height: 496px;
  }
  header .container .jumbotron #jumbo-line {
    width: 316px;
    right: calc(19.6% - 50px);
    top: 614px;
    #big-line {
      display: none;
    }
    #small-line {
      display: inline-block;
    }
  }
  header .container .jumbotron .blumarine {
    z-index: 2;
    right: calc(19.6% - 63px);
    top: 303px;
  }

  header .container .jumbotron .newsletter-box {
    display: none;

  }
  main #home-help-container {
    flex-direction: column;
    .h2-container {
      margin-right: 0;
      margin-bottom: 46px;
      max-width: 100%;
    }
  }
  main #home-help-container #home-services-container .services-row {
    flex-direction: column;
    text-align: left;
    margin: 22px 0;
    .h4 {
      width: 100%;
      justify-content: flex-start;
      margin-bottom: 12px;
      h4 {
        text-align: left;
        font-size: 24px;
        line-height: 30px;
      }
    }
    .p {
      width: 100%;
    }
    .line {
      display: none;
    }
  }

  main #our-blog .slider .articles {
    min-width: 316px;
    height: 450px;
  }

  main #home-circles-main {
    top: 219px;
    right: -268px;
    height: 1200px;
  }

  main #zerogray-wrap {
    max-width: 88%;
    padding-bottom: 115px;
    h3 {
      font-size: 24px;
      line-height: 30px;
    }
  }


  main #home-help-container  {
    width: calc(95% - 27px);
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    .h2-container {
      padding-right: 20px;
      h2 {
        font-size: 32px !important;
        line-height: 40px !important;
      }
    }
  }

}
